# Node
node_modules/
dist/
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/dev.db
prisma/migrations/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Others
coverage/
.idea/
*.swp
*.swo
*-lock.json

# Build
build/

# TypeScript
*.tsbuildinfo
